.normal {
  border: 1px solid white;
  background-color: transparent;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}

.normal:hover {
  background-color: white;
  color: #282c34;
}

.normal:active {
  filter: brightness(85%);
}
