.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h3 {
    margin: 0;
  }
  .imageContainer {
    width: 100%;
    height: 60%;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
  }
}
